body {
    //margin-bottom: 80%;
    //background : linear-gradient(#5E1ADD, #FFE8F3);
    width: 100vh;
    height: 100vh;
}



/* body {
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Baloo Tammudu 2', 'Noto Sans KR', sans-serif;
} */

*{
    box-sizing: border-box;
}

#bgImage{
    position:absolute;
    left:0;
    top:0;
	max-width:100%;
    min-width:1880px;;
    max-height:1400px;
    min-height:1200px;
    width: 100vh;
    height: 100vh;
    z-index:-5;
    filter: brightness(30%);
}


/* img{
    width: 100vh;
    height: 100vh;
} */
.hidden {
    display: none;
}

.inner{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    padding: 0px 0px;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 90%;
    text-align: center; 
}
ul,li{
    list-style: none;
    font-size: x-large;
}
li button {
    color: white;
    background-color: transparent;
    border: 0px;
    margin: 20px;
}
li span {
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
#greeting{
    font-size: 20px;
    color: white;
}

#clock{
    font-size: 100px;
    color: white;
    margin-bottom: 30px;
}

#login-form{
    text-align:center;
    color:white;
    margin:0 auto;
    margin-bottom: 30px;
}
    #login-form input:first-child{
        text-align: center;
        color:white;
        font-size:1.3rem;
        padding: 10px;
        width: 240px;
        background-color: rgba(255,255,255,0.2);
        border:none;
        transition: all, 0.4s;
    }
        #login-form input:first-child:hover{
            background-color: rgba(255,255,255,0.4);
        }   
        #login-form input:hover::-webkit-input-placeholder{ /*placeholder color change*/
            color: rgb(50, 50, 50);
        }
        #login-form input:first-child:focus{
            outline:none;
            border-bottom: 1px solid white;
            background-color:rgba(0,0,0,0);
        }
    #login-form button:nth-child(2){
        margin-left:20px;
        width:100px;
        height:40px;
        border-radius: 30px;
        border:none;
        background-color:rgba(255,255,255,0.6);
        color: rgb(80,80,80);
        font-size:1rem;
        font-weight: 600;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
        outline: none;
        cursor: pointer;
        transition: all, 0.4s;
    }
    #login-form button:nth-child(2):hover{
        background-color:rgba(255,255,255,0.8)
    }
        #login-form button:nth-child(2):active{
            background-color:darkgray;
            color:white;
            outline: none;
        }


#todo-form input{
    text-align: center;
    color:white;
    font-size:1rem;
    width: 540px;
    height:40px;
    background-color: rgba(255,255,255,0.1);
    font-weight: 500;
    border:none;
    margin-bottom:20px;
    margin-top: 20px;
    transition: all, 0.4s;
}
    #todo-form input:hover{
        background-color: rgba(255,255,255,0.4);
    }
    #todo-form input:hover::-webkit-input-placeholder{ /*placeholder color change*/
        color: rgb(50, 50, 50);
    }
    #todo-form input:focus{
        outline:none;
        border-bottom: 1px solid white;
        background-color:rgba(0,0,0,0);
    }

#weather{
    position:fixed;
    top:20px;
    right:36px;
    color:white;
    font-size:0.9rem;
    font-weight: auto;
}
#weather:hover{
        color:rgb(255, 166, 0);
}

#quote{
    text-align: center;
    position:fixed;
    bottom:20px;
    margin-left: 36px;
    font-size:0.8rem;
    font-weight: 200;
    color:rgba(255,255,255,0.8);
}

